@import url('https://fonts.googleapis.com/css2?family=Readex+Pro&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Readex Pro', sans-serif;
    background: repeating-linear-gradient(45deg, #e90052 0%, #e90052 5%, #38003c 5%, #38003c 10%);
}

h1 {
    text-align: center;
    color: #fff;
    padding: 20px;
    font-size: 250%;
}

p {
    padding: 20px;
    font-size: 125%;
}

#body-div {
    width: 100%;
}

#quiz-div{
    width: fit-content;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-items: center;
    height: fit-content;
    margin: auto;
}

#quiz {
    margin: auto;
    padding: 20px 0;
}

input, label {
    margin-left: 20px;
}

#button {
    margin-top: 20px;
    display: inline-block;
    font-size: 200%;
}

.image {
    height: fit-content;
    width: fit-content;
    margin: auto;
    padding: 20px;
}
