@import url('https://fonts.googleapis.com/css2?family=Readex+Pro&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Readex Pro', sans-serif;
    font-weight: bold;
    background: repeating-linear-gradient(45deg, #e90052 0%, #e90052 5%, #38003c 5%, #38003c 10%);
}

h1 {
    text-align: center;
    color: #fff;
    padding: 20px;
    font-size: 250%;
    font-weight: bold;
}

p {
    padding: 20px;
    font-size: 125%;
}

#body-div {
    width: 100%;
}

.quiz-div{
    background-color: #fff;
    height: fit-content;
    margin: auto;
    width: 650px;
    padding: 15px;
    margin-bottom: 30px;
    border-radius: 10px;
}

#quiz {
    margin: auto;
    padding: 20px 0;
}

input, label {
    margin-left: 20px;
}

.image {
    height: fit-content;
    width: fit-content;
    margin: auto;
    padding: 20px;
    text-align: center;
}

#button {
    padding: 5px;
    font-family: 'Readex Pro', sans-serif;
    color: #e90052;
    background-color: #38003c;
    border: 2px solid #38003c;
    border-radius: 10%;
    cursor: pointer;
    font-size: 150%;
    margin-top: 20px;
    position: relative;
    left: 40%;
}

#button:hover {
    color: #38003c;
    background-color: #e90052;
}

.answers {
    text-align: left;
    margin: auto;
}

#result {
    visibility: hidden;
    background-color: #fff;
    margin: auto;
    width: 650px;
    border-radius: 10px;
}
